<nav>
    <ul>
        <li><a href="/swipe">Свайп</a></li>
        <li><a href="/chat">Чат</a></li>
        <li><a href="/profile">Профиль</a></li>
        <li><a href="/auth/logout">Выйти</a></li>
    </ul>
</nav>
